<% if !@friends.empty? %>
  <div class="row col-10">
    <table class="table table-hover">
      <thead>
        <tr class="table-header">
          <th scope="col">Email</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th class="d-flex justify-content-center" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @friends.each do |friend| %>
          <tr class="bg-info text-white">
            <th scope="row"><%= friend.email %></th>
            <td><%= friend.first_name %></td>
            <td><%= friend.last_name %></td>
            <td class="d-flex justify-content-center">
              <%= link_to user_path(friend) do %>
                <%= fa_icon 'user 2x', class: "friend-profile friend-actions" %>
              <% end %> &nbsp;
              <%= link_to friendship_path(friend), method: :delete, data: {confirm: 'Are you sure?'} do %>
                <%= fa_icon 'user-times 2x', class: "stop-following friend-actions" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
