<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <div class="card card-header results-block">
    <table class="col-md-12">
      <tbody>
        <% @friends.each do |friend| %>
        <tr>
          <td><strong>Name: </strong><%= friend.full_name %></td>
          <td><strong>Email: </strong><%= friend.email %></td>
          <td>&nbsp;
            <%= link_to "#", class: "btn btn-outline-info" do %>
              <%= fa_icon 'user' %> View Profile
            <% end %>&nbsp;
            <% if current_user.not_friends_with?(friend.id) %>
              <%= link_to friendships_path(friend: friend), class: 'btn btn-dark follow-friend-btn', method: :post do %>
                <%= fa_icon 'user-plus' %> Follow friend?
              <% end %>
            <% else %>
              <span class="badge badge-secondary">You are friends!</span>
            <% end %>
          </td>
        <% end %>
        </tr>
      </tbody>
    </table>

  </div>
<% end %>
